<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Search</title>
 </head>
 <body>
   MSG{{msg}}
   {{err}}
   <form action = "{{ url_for('test') }}" method = "GET">
          Look for smth<br>
          <input type = "text" name = "good" /></br>



   </form>
   {% for row in rows %}
      <div>{{row["name"]}}</div>
   {% endfor %}
 </body>
</html>
